<section class = "site-recommendations"> 
    <div class="blogs">
      <h2 class="blog-header">Additional Resources</h2>
        <div class="card-grid">
           <a class="single" target="_blank" href="https://www.traversymedia.com/">
            <h3 class="title">Traversy Media</h3>
              <p>Udemy Courses and YouTube Tutorials for Web Development Including Javascript, HTML ,CSS, Django and MERN Stack Application and more.</p>
           </a>
            <a class="single" target="_blank" href="https://fireship.io/">
              <h3 class="title">Fireship</h3>
                <p>Courses and Guides for Full-stack Web Development Including Firebase, Flutter, Firestore Data Modeling, and Angular 9 and more. </p>
            </a>
            <a class="single" target="_blank" href="https://www.thenetninja.co.uk/">
              <h3 class="title">The Net Ninja</h3>
                <p class="snippet">Over 1000+ free dev video tutorials in youtube including tutorials for : Node.js, React Native, Flutter, Vue 3, Bulma CSS and more. </p>
            </a>
            <a class="single" target="_blank" href="https://www.freecodecamp.org/">
              <h3 class="title">freeCodeCamp</h3>
                <p class="snippet">Free Courses for Coding and Responsive Web Development Including HTML, CSS, Javascript, Python, and more. </p>
            </a> 
        </div>

        <div class="site-images">
          <a target="blank" href="https://www.udemy.com/">
            <img class="udemy" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/UdemyLogo.svg/576px-UdemyLogo.svg.png" title="udemy-logo" alt="udemy">
          </a>

          <a target="_blank" href="https://www.skillshare.com/browse/coding">
            <img class="skillshare" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Skillshare_logo_2020.svg/512px-Skillshare_logo_2020.svg.png" title="skillshare" alt="skillshare_logo">
          </a>

          <a target="_blank" href="https://www.pluralsight.com/">
            <img class="pluralsight" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Pluralsight_Logo.svg/198px-Pluralsight_Logo.svg.png" title="pluralsight" alt="pluralsight_logo">
         </a>
        </div>

    </div>
  </div>
</section>