<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="container">
    <div class ="color-overlay">
      <h2 class="about-header"><div class="fullstacked-text">FULLSTACKED</div></h2>
    </br>
        <p>FULLSTACKED is a Web Development blog that posts blogs about Web Development related posts </p>
        <p>Such as posts about HTML, CSS, Javascript, Node.js, React.js, Angular.js, MongoDB, </p>
    </br>
        <p>FULLSTACKED also has Video Tutorials from YouTube by Traversy Media, freeCodeCamp, The Net Ninja, and Fireship embedded on the site</p> 
    </br>
        <p>And FULLSTACKED has links to recommended websites to learn how to code and be a Full-stack programmer. </p>
</br></br>

  <h2 class="title">Team Members</h2>
  <p> 1. Henry 2031119</p>
  <p> 2. Farhan Alwie Rashidy 2031157</p>
  <p> 3. Justin 2031148 </p>
  <p> 4. Junaidi 2031129</p>
  <p> 5. Kevin Alexander 2031153</p>
  <p>6. Rio Fernando 2031128</p>
    <%- include("./partials/footer.ejs") %>


    </div>
  </div>
</body>
</html>